#owl-carousel_slider {
  /*
  @include font-header("Isidora Sans Medium");

  @include respond-to("small-phone") {
    font-size: 10px;
  }

  @include respond-to("phone") {
    font-size: 11px;
  }

  @include respond-to("tablet") {
    font-size: 1.2rem;
  }

  @include respond-to("other") {
    font-size: 1.3rem;
  }

  @include respond-to("large-desktop") {
    font-size: 2.2vw;
  }
  */
  font-size: 2.2vw;

  .item {
    position: relative;
      .title {
        position: absolute;
        top: 20%;
        left: 5%;
      }
  }
}
.slider_clour_text_white {
  color: $white;
}
.slider_clour_text_orange {
  color: $orange;
}
.slider_clour_text_green {
  color: $green;
}
