.slst_body {
  width: auto;
  height: auto;

  .grid-table-slst {
    display: grid;
    grid-template-columns: repeat(5, 1fr) auto;
    grid-gap: 2px;
    margin: 0 0 50px;

    .header_item {
      background-color: $primary;
      padding: 8px;
      color: $white;
    }

    .item-hmxw {
      background-color: transparent;
      width: max-content;
    }
    .data-item {
      color: $primary;
      @include apply-opacity($primary, 10);
      padding: 8px;
      .menubar {
        width: 24px;
      }
      .title {
        float: left;
        padding-right: 8px;
      }
      .upload_date {
        clear: both;
      }
      .description {
        clear: both;
      }
    }
  }
}
