// -------------------------------
// Custom
@import "base/mixins";
@import "base/variables";
@import "base/typography";

@import "layouts/footer";
@import "layouts/login";

@import "components/navBar";
@import "components/table";
@import "components/owl_carousel.scss";

@import "components/bootstrap/card";

@import "components/moodle/core";
@import "components/moodle/variables";
@import "components/moodle/blocks";
@import "components/moodle/drawer.scss";
@import "components/moodle/filemanager";

//@import "components/moodle/search";

@import "layouts/layout.scss";

.coursesearchbox {
  padding: 0.5rem;
  border: 1px solid $primary;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.adress span,
.contact span,
.social span {
  color: #fff;
  font-weight: 800;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
}

.adress li p,
.contact li a,
.social li a {
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 15px;
}

.social li {
  float: left;
}

.adress,
.contact,
.social {
  list-style: none;
}

.block_calendar_month {
  .card-body {
    background-color: rgba ($white, 0.5);
    //@include font-body("Isidora Sans Regular", 1rem);
  }
}

.btn-primary {
  background-color: $primary;
  border: 1px solid $FOS-Aubergine-bk;
  &:hover {
    background-color: $FOS-Aubergine-bk;
    color: $primary;
    border-color: $primary;
  }
}

a {
  color: $FOS-Caribbean-Green;
}
a.hover {
  color: $primary;
}
.calendartable {
  color: $primary;
}

.form-control {
  border-color: $primary;
}
.search-icon {
  border: 1px solid $primary;
}
.btn-outline-secondary {
  color: $FOS-Aubergine-bk;
  background-color: $primary;
}

.pair-key {
  color: $primary;
}

table {
  margin-top: 20px;
}

.custom-select {
  border-color: $primary;
}
// todo
.custom-select.singleselect {
  color: $primary;
}

.input-group-append {
  .btn-submit {
    border: 1px solid $primary;
  }
}

.dropdown-menu {
  .dropdown-item:hover {
    background-color: $primary;
  }
  .dropdown-item.active {
    background-color: $primary;
  }
}
//------
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: $primary;
  border: 1px solid $primary;
  &:hover {
    background-color: $red;
    color: $white;
    border-color: $black;
  }
}

.alert-warning {
  background-color: #ddd3e1 !important;
}

.alert-warning,
.environmenttable .warn {
  margin-top: 8px;
  padding: 8px;
  color: #7d5a29;
  background-color: #fff;
  border-color: #fff;
}

.drawer-right {
  background-color: #f3eff5;
  border-left: 1px solid #ddd3e1;
  .card-body {
    background-color: #f3eff5;
    border: none;
  }
}

.drawer-left {
  background-color: #f3eff5;
  border-right: 1px solid #ddd3e1;
}

.courseindex {
  .courseindex-section {
    .pageitem {
      background-color: #5c3873;
      &:hover {
        background-color: #ddd3e1;
        a {
          color: #5c3873 !important;
        }
      }
    }

    .courseindex-item-content {
      .pageitem {
        background-color: #5c3873;
        &:hover {
          background-color: #ddd3e1;
          a {
            color: #5c3873 !important;
          }
        }
      }
    }
  }
}

body {
  @include font-body("Isidora Sans Regular");
  background-color: $FOS-Aubergine-bk;
  #page-wrapper #page {
    background-color: $FOS-Aubergine-bk;
    #page-content {
      background-color: $body-bg;
    }

    .main-inner {
      background-color: $body-bg;
    }

    #region-main {
      background-color: $body-bg;
    }
  }
}

.popover.footer {
  .popover-body {
    padding: 0;
    .footer-section {
      a {
        color: $FOS-Caribbean-Green;
        text-decoration: none;
        .icon {
          color: $FOS-Caribbean-Green;
        }
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}

.btn-link {
  color: $FOS-Caribbean-Green !important;
  text-decoration: none;

  .icon {
    color: $FOS-Caribbean-Green;
  }
}

.bnt-custom-exp {
  margin-bottom: 20px !important;
}

.navbar-brand .logo {
  display: none;
}

.navbar-brand::after {
  content: "";
  display: block;
  //http://foselearning.knowtechture.com
  //http://localhost
  background-image: url("http://localhost/theme/ddmood/pix/FOSlogo.png") !important;
  //background-image: url([[pix:moodle|i/course]]);
  background-size: contain;
  background-repeat: no-repeat;
  width: 44px;
  height: 31px;
}

#frontpage-category-names {
  visibility: hidden;
}

.mycateg_content {
  width: 100%;
  height: auto;
  align-self: center;
  padding: 50px 0;
  background-color: $activity-icon-administration-bg;
  .custom_cat {
    float: left;
    width: 190px;
    height: 194px;
    margin: 0 4px;
    background-color: $activity-icon-assessment-bg;
  }
}

.container_cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //background-color: lightgray;
  width: 100%;
  //max-width: 400px;
  padding: 4px;
  margin: 0 auto;

  .child {
    width: 190px;
    height: 194px;
    margin: 5px;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 9.5px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.10));

    .cat-cta {
      cursor: pointer;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      grid-auto-columns: 1fr;
      gap: 8px 8px;
      grid-auto-flow: row;
      justify-content: stretch;
      align-items: stretch;
      grid-template-areas:
        "icon"
        "title";

      .icon {
        justify-self: center;
        grid-area: icon;
        width: 92px;
        height: 92px;
        img {
          width: 92px;
          height: 92px;
        }
      }

      .title {
        align-self: center;
        grid-area: title;
        @include font-header("Isidora Sans Medium");
        letter-spacing: 1px;
        font-size: 1rem !important;
        text-align: center;
        word-wrap: 0px;
        font-weight: 800;
        line-height: 1rem;
      }
    }

    &:nth-child(1) {
      background-image: url('data:image/svg+xml,<svg width="188" height="191" viewBox="0 0 188 191" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M178.5 0H9.5C4.2533 0 0 4.25328 0 9.49999V137.108C0 140.645 1.96465 143.889 5.09894 145.527L89.5989 189.699C92.356 191.141 95.644 191.141 98.401 189.699L182.901 145.527C186.035 143.889 188 140.645 188 137.108V9.5C188 4.2533 183.747 0 178.5 0Z" fill="%235C3873"/><path d="M9.5 0.5H178.5C183.471 0.5 187.5 4.52944 187.5 9.5V137.108C187.5 140.459 185.639 143.532 182.669 145.084L98.1694 189.256C95.5575 190.622 92.4425 190.622 89.8306 189.256L5.33057 145.084C2.36125 143.532 0.5 140.459 0.5 137.108V9.49999C0.5 4.52942 4.52944 0.5 9.5 0.5Z" stroke="%23383D47" stroke-opacity="0.35"/></svg>');
      a {
        text-decoration: none !important;
        color: $FOS-Sand !important;
        &:hover {
          color: $FOS-Sand !important;
        }
      }
    }
    &:nth-child(2) {
      background-image: url('data:image/svg+xml,<svg width="188" height="191" viewBox="0 0 188 191" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M178.5 0H9.5C4.2533 0 0 4.25328 0 9.49999V137.108C0 140.645 1.96465 143.889 5.09894 145.527L89.5989 189.699C92.356 191.141 95.644 191.141 98.401 189.699L182.901 145.527C186.035 143.889 188 140.645 188 137.108V9.5C188 4.2533 183.747 0 178.5 0Z" fill="%2360AD8F"/><path d="M9.5 0.5H178.5C183.471 0.5 187.5 4.52944 187.5 9.5V137.108C187.5 140.459 185.639 143.532 182.669 145.084L98.1694 189.256C95.5575 190.622 92.4425 190.622 89.8306 189.256L5.33057 145.084C2.36125 143.532 0.5 140.459 0.5 137.108V9.49999C0.5 4.52942 4.52944 0.5 9.5 0.5Z" stroke="%23383D47" stroke-opacity="0.35"/></svg>');
      a {
        text-decoration: none !important;
        color: $FOS-Flint !important;
        &:hover {
          color: $FOS-Flint !important;
        }
      }
    }
    &:nth-child(3) {
      background-image: url('data:image/svg+xml,<svg width="188" height="191" viewBox="0 0 188 191" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M178.5 0H9.5C4.2533 0 0 4.25328 0 9.49999V137.108C0 140.645 1.96465 143.889 5.09894 145.527L89.5989 189.699C92.356 191.141 95.644 191.141 98.401 189.699L182.901 145.527C186.035 143.889 188 140.645 188 137.108V9.5C188 4.2533 183.747 0 178.5 0Z" fill="%2300D4D9"/><path d="M9.5 0.5H178.5C183.471 0.5 187.5 4.52944 187.5 9.5V137.108C187.5 140.459 185.639 143.532 182.669 145.084L98.1694 189.256C95.5575 190.622 92.4425 190.622 89.8306 189.256L5.33057 145.084C2.36125 143.532 0.5 140.459 0.5 137.108V9.49999C0.5 4.52942 4.52944 0.5 9.5 0.5Z" stroke="%23383D47" stroke-opacity="0.35"/></svg>');
      a {
        text-decoration: none !important;
        color: $FOS-Flint !important;
        &:hover {
          color: $FOS-Flint !important;
        }
      }
    }
  }
}
.custom-inner {
  padding: 0 0.5rem 1.5rem !important;
}

#page.drawers {
  margin-top: 38px !important;
}
/*
.hands {
  width: 90px;
  height: 90px;
  background-image: url('data:image/svg+xml,<svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_256_438)"><g clip-path="url(%23clip1_256_438)"><path d="M37.2811 47.0447L29.837 45L22.5 59L24.9442 61.901L23.8413 63.3688C23.5124 66.6579 23.9966 67.3377 27.6703 67.2616C26.5392 71.7839 29.8868 73.4349 32.1079 71.5021C32.4567 75.105 34.6228 76.7556 37.0889 74.7745C37.0889 76.2039 37.9257 79.063 40.3688 78.6561L42.752 76.7556L48.8786 77.6995C51.5069 77.7504 51.998 75.9903 52.613 74.7745C56.0137 74.4642 56.7082 74.597 56.4709 71.1573C60.1031 71.852 61.6058 68.6551 59.7434 67.3769C62.7027 68.4714 66.1022 66.4999 64.0761 62.9999L67.9891 59.5L60.163 46L52.337 45L48.1819 44.177L43.8282 44.4431L38.7807 45.3473L37.2811 47.0447Z" fill="white"/><path d="M69.1502 62.3529L58.9452 43.5756L93.132 21.1472L94.1525 45.662L69.1502 62.3529Z" fill="%2300D4D9"/><path d="M69.1502 62.3529L58.9452 43.5756L93.132 21.1472L94.1525 45.662L69.1502 62.3529Z" fill="url(%23paint0_linear_256_438)" fill-opacity="0.3"/><path fill-rule="evenodd" clip-rule="evenodd" d="M-3.166 19.907L-2.38416 20.3582C-1.94279 20.6031 28.5778 40.416 29.5866 41.0348C30.7468 41.7566 31.4782 42.298 31.6043 42.5301C31.7052 42.7234 31.7935 43.0586 31.7809 43.2777C31.7809 43.4969 31.6421 43.9094 31.4908 44.193C31.2764 44.6055 31.2512 44.7344 31.3773 44.8117C31.4656 44.8762 31.743 45.0051 31.9826 45.1211C32.2222 45.2371 32.8275 45.4305 33.3067 45.5723C33.7859 45.7012 34.8578 45.8945 37.1529 46.191L37.7203 45.6109C38.1617 45.1598 38.4644 44.9793 39.1453 44.773C39.6119 44.6441 40.7216 44.4121 41.6296 44.2703C42.5375 44.1285 44.1516 43.948 45.2235 43.8578C46.2954 43.7805 47.796 43.7547 48.5653 43.8062C49.3345 43.8449 50.5451 43.9738 51.2765 44.0769C52.0079 44.193 53.3951 44.4766 54.3661 44.7344C55.7532 45.0953 56.409 45.1855 57.4178 45.2113C58.1366 45.2113 58.7545 45.1726 58.8301 45.0953C58.9142 45.0094 58.889 44.773 58.7545 44.3863C58.5779 43.8449 58.5779 43.7676 58.7923 43.2906C59.0067 42.8394 59.3093 42.6074 61.617 41.2023C63.042 40.3258 93.6425 19.9084 93.6803 19.9084C93.7181 19.9084 93.9451 20.1534 94.1973 20.4627C94.4369 20.7721 96.7698 24.8713 99.355 29.5893C101.94 34.3073 104.122 38.3292 104.185 38.5483C104.26 38.819 104.248 39.0639 104.122 39.3862C103.97 39.76 103.643 40.0307 102.117 40.9846C101.12 41.6163 70.6587 61.9563 70.3813 62.1239C70.1038 62.3043 69.7003 62.4461 69.4985 62.459C69.2968 62.4719 68.9689 62.3817 68.7797 62.2657C68.578 62.1496 68.2753 61.7629 68.0862 61.402C67.8844 61.0539 67.6952 60.7703 67.6322 60.7961C67.5818 60.809 66.926 61.3375 64.8327 63.0907L65.1353 63.6965C65.3623 64.1219 65.4506 64.5086 65.4506 65.0114C65.4506 65.5657 65.3623 65.875 65.0597 66.4293C64.7949 66.9321 64.5048 67.2543 64.0761 67.525C63.5086 67.886 63.3699 67.9118 61.1757 67.9118L61.1631 68.6852C61.1631 69.2266 61.0622 69.652 60.8478 70.0903C60.6839 70.4383 60.4064 70.8379 60.2299 70.9668C60.0534 71.1086 59.612 71.3278 59.2589 71.4696C58.8806 71.5985 58.2753 71.7145 57.1404 71.7145L57.1277 72.2688C57.1277 72.5653 57.0269 73.1067 56.9134 73.4547C56.7999 73.8157 56.5224 74.2797 56.2954 74.5118C56.0685 74.7309 55.6523 74.9758 55.3749 75.0532C55.0975 75.1305 54.4796 75.195 53.105 75.195L52.6006 75.9942C52.3232 76.4325 51.8692 76.9739 51.5918 77.2059C51.3143 77.4379 50.8099 77.7602 50.4568 77.9278C49.9398 78.1598 49.6119 78.2114 48.6914 78.2114C47.8339 78.2114 46.9764 78.0696 42.8276 77.1286L42.2349 77.7989C41.8944 78.1598 41.4026 78.5594 41.1252 78.6883C40.8477 78.8172 40.4568 78.9332 40.2424 78.9332C40.0407 78.9332 39.6119 78.8559 39.2967 78.7399C38.9814 78.6368 38.477 78.3274 38.1743 78.0696C37.8591 77.7989 37.4808 77.2961 37.3168 76.9352C37.1655 76.5871 37.0268 76.0457 37.0268 75.7493C37.0268 75.4399 36.9763 75.195 36.9007 75.195C36.825 75.195 36.7493 75.2465 36.7115 75.3239C36.6737 75.4012 36.4215 75.5688 36.144 75.7106C35.854 75.8524 35.3874 75.9684 35.0469 75.9684C34.6308 75.9684 34.2273 75.8524 33.7607 75.6203C33.3824 75.4141 32.941 75.0789 32.7645 74.8727C32.6005 74.6664 32.3483 74.2539 32.2096 73.9704C32.0709 73.6868 31.9322 73.184 31.907 72.8489C31.8817 72.5008 31.8313 72.2301 31.7935 72.2301C31.7556 72.2301 31.5286 72.3204 31.289 72.4235C31.0494 72.5266 30.6333 72.6168 30.3811 72.6168C30.1163 72.6168 29.6749 72.5395 29.4101 72.4493C29.1327 72.3719 28.6661 72.0625 28.3508 71.7789C28.0356 71.4954 27.6699 71.0313 27.5311 70.7477C27.342 70.3868 27.2663 69.9871 27.2663 69.3942C27.2789 68.9301 27.3168 68.4145 27.3672 68.234C27.4555 67.9118 27.4555 67.9118 26.7871 67.9633C26.4214 67.9891 25.8666 67.9247 25.5513 67.8344C25.173 67.7184 24.7695 67.4606 24.3407 67.0223C23.8615 66.5325 23.6472 66.1844 23.4832 65.6559C23.3697 65.2692 23.2815 64.7664 23.2815 64.5602C23.2815 64.3539 23.4076 63.9157 23.5463 63.5934C23.685 63.2711 23.8994 62.9102 24.0129 62.7942C24.2146 62.575 24.1768 62.5106 23.4076 61.5438C22.6005 60.5254 22.5879 60.5125 22.3987 60.7961C22.2978 60.9508 22.0709 61.2344 21.8943 61.4278C21.7178 61.634 21.4151 61.8274 21.2007 61.866C20.9359 61.9176 20.6585 61.8403 20.3054 61.634C20.0154 61.4664 18.9435 60.809 17.922 60.1774C16.888 59.5457 -13.3804 39.7843 -13.4939 39.6039C-13.6074 39.4363 -13.6957 39.0882 -13.6957 38.8304C-13.6957 38.4695 -12.6868 36.5359 -8.91634 29.6781C-6.079 24.5218 -3.93524 20.7578 -3.6452 20.4484L-3.166 19.907ZM-11.9933 38.7531C-11.9681 38.7789 18.1995 58.3985 19.1452 59.0043L20.8855 60.1C21.2638 59.4555 21.3773 59.1977 21.3773 59.1074C21.3899 59.0172 23.2436 55.5625 25.5009 51.4375C27.7707 47.3125 29.738 43.7933 29.8893 43.6387C30.0532 43.4453 30.1037 43.3035 30.028 43.2391C29.9523 43.1746 29.1705 42.6848 28.2878 42.1433C27.405 41.6019 -2.71203 22.0597 -2.77508 22.0597C-2.83813 22.0597 -4.94407 25.8109 -7.46614 30.3871C-10.0008 34.9632 -12.0311 38.7273 -11.9933 38.7531ZM60.3812 43.9351C60.3686 43.9609 62.0332 47.0547 64.0887 50.793C66.1442 54.5313 68.1997 58.2696 68.6536 59.1074C69.1202 59.9453 69.5364 60.6285 69.5868 60.6285C69.6373 60.6156 70.3813 60.1903 71.2262 59.6617C72.0837 59.1203 102.268 38.9479 102.381 38.8835C102.533 38.8061 101.7 37.2077 98.0435 30.5432C95.5466 26.0057 93.4533 22.2288 93.365 22.1514C93.2641 22.0483 63.3573 42.0016 62.1088 42.7879C61.1757 43.3937 60.4064 43.8965 60.3812 43.9351ZM43.4581 44.9396C42.588 45.0556 40.5966 45.4047 40.1174 45.4949C39.6256 45.598 39.0834 45.7398 38.9195 45.8043C38.7177 45.8816 37.8438 46.9097 37.0115 48.0956C36.2801 49.1398 35.2013 50.7454 34.6086 51.6606C34.0159 52.5888 33.6458 53.601 33.608 53.7944C33.545 54.0909 33.5449 54.1553 33.8128 54.26C33.9778 54.3245 34.438 54.3374 34.6524 54.3245C34.8541 54.2988 35.314 54.2971 35.7049 54.1553C36.0832 54.0135 37.052 53.6418 37.4681 53.3324C37.8843 53.036 38.4518 52.4817 38.7418 52.0949C39.0318 51.7211 39.5489 51.141 39.8767 50.8188C40.2172 50.4836 40.8351 50.0453 41.2513 49.8262C41.6674 49.6071 42.3105 49.3364 42.7015 49.2203C43.0798 49.1043 43.6346 49.0141 43.9247 49.0141C44.3408 49.0141 44.8831 49.2332 46.3206 49.9809C47.3421 50.5094 48.9814 51.4117 49.9524 51.9918C50.9234 52.5719 52.4241 53.5129 53.2942 54.0801C54.1517 54.6473 55.5136 55.5883 56.3207 56.1555C57.1151 56.7227 58.5653 57.7926 59.5363 58.5403C60.5073 59.2879 61.8314 60.3449 62.4998 60.8864L63.6978 61.8789C66.0433 59.9196 66.7242 59.3008 66.7242 59.2364C66.7242 59.1719 65.1606 56.2973 63.2564 52.8297C59.9146 46.7711 59.5415 45.9898 59.2389 46.08C59.0623 46.1187 58.5453 46.2089 58.104 46.2734C57.65 46.3249 57.5636 46.3378 57.0087 46.2734C56.4539 46.2089 55.4633 46.0265 54.8076 45.8589C54.1392 45.6784 53.472 45.5037 52.9171 45.4006C52.3622 45.2845 51.0136 45.004 50.3326 44.9396C49.6643 44.8622 48.2904 44.7215 47.4707 44.7344C46.6636 44.7473 45.7092 44.7086 45.4066 44.7344C45.0913 44.7601 44.3156 44.8364 43.4581 44.9396ZM23.7606 58.2696L23.1148 59.577C24.2372 60.9821 24.3281 61.1699 24.3407 61.1699C24.3659 61.1571 24.719 61.8277 25.0091 61.673C25.4378 61.4409 26.2623 60.4996 27.0646 60.1774C27.9473 60.1645 28.2499 60.2289 28.83 60.4996C29.2083 60.6801 29.7506 61.0668 30.028 61.3504L30.5324 61.8789C31.8187 60.9121 32.2474 60.7059 32.7392 60.6028C33.231 60.5125 33.6094 60.5125 34.0633 60.6156C34.4038 60.693 35.0217 60.9508 35.4379 61.1699C35.8414 61.402 36.371 61.8145 36.598 62.0981C36.8376 62.3817 37.1529 62.8844 37.2916 63.1938C37.4303 63.516 37.5942 64.0575 37.6321 64.3926C37.7077 64.9598 37.7456 65.0243 38.1617 65.1403C38.4013 65.2047 38.8301 65.3981 39.1075 65.5657C39.3849 65.7332 39.8263 66.1329 40.1037 66.4422C40.3811 66.7516 40.709 67.2672 40.8477 67.5766C40.9738 67.8989 41.1252 68.3887 41.163 68.6594C41.2134 68.943 41.3269 69.2137 41.4404 69.2653C41.5413 69.3297 41.907 69.4715 42.2601 69.6004C42.6636 69.7422 43.1176 70.0645 43.5211 70.477C43.8742 70.8379 44.3156 71.4567 44.5047 71.8692C44.6939 72.2817 44.8704 72.9391 44.9209 73.3516C44.9713 73.9188 44.7728 74.084 44.5047 74.6752C43.5544 75.9434 43.1965 76.484 43.2217 76.4969C43.2343 76.5098 43.9405 76.6645 44.7728 76.8579C45.6051 77.0383 47.8591 77.4766 48.25 77.5153C48.6283 77.5668 49.225 77.56 49.4772 77.4826C49.7168 77.4053 49.9641 77.3477 50.3172 77.1286C51.5692 76.3975 51.9321 75.9601 52.0584 75.195C46.825 72.5653 46.7778 72.3972 46.2655 72.1056C46.0115 71.9284 45.2487 71.6758 45.274 71.4825C45.3118 71.2891 45.274 71.3169 45.4379 71.1235C45.5128 71.0352 45.5459 70.9885 45.7603 70.9885C45.9495 70.9885 46.7526 71.6114 48.1146 72.2688C49.4639 72.9391 51.4332 74.0993 51.8619 74.2797C52.4672 74.5375 53.289 74.4989 53.9826 74.5118C54.777 74.5118 55.7634 73.8696 55.9904 73.6118C56.1417 73.4571 56.4922 72.0912 56.4151 71.6243C56.4601 71.3702 56.3637 71.3496 56.3637 71.2723C56.3637 71.2078 55.4936 70.6406 54.4343 70.0348C53.375 69.416 51.6222 68.3719 50.5251 67.7145C49.2388 66.9281 49.5765 67.0707 49.2388 66.9457C48.9943 66.791 48.3877 66.7006 48.5769 66.3268C48.5937 66.2934 48.6584 66.2618 48.6875 66.2231C48.9844 66.2231 48.9446 66.2102 49.2388 66.2618C49.4784 66.3133 50.979 67.1254 52.5806 68.0793C54.1695 69.0204 55.8719 70.0387 56.3637 70.3223C57.0194 70.7219 57.3725 70.8508 57.776 70.8508C58.0787 70.8508 58.5074 70.7735 58.7596 70.6575C59.0875 70.5157 59.7881 69.9614 59.9016 69.6004C60.5742 68.5305 59.9394 67.6926 59.9016 67.5766C59.8764 67.4735 58.0609 66.3907 55.8163 65.0114C53.559 63.6321 51.9023 62.6709 51.6753 62.4389C51.3979 62.1424 50.9007 62.1689 50.9007 61.8982C50.9007 61.6919 50.8125 61.7916 50.9643 61.6814C51.0762 61.565 51.0142 61.6016 51.1128 61.5191C51.3145 61.416 51.2388 61.3552 51.4658 61.3552C51.7054 61.3552 51.7305 61.3128 52.0584 61.5191C52.361 61.7253 54.9209 63.3854 57.1404 64.7518C60.6713 66.9303 60.5472 66.6638 61.1631 66.8465C61.554 66.8852 62.986 66.691 63.1751 66.5879C63.3265 66.4848 63.9091 66.0958 64.01 65.8638C64.1109 65.6318 64.3009 64.9451 64.2756 64.7518C64.2378 64.5584 63.7688 63.4708 63.504 63.213C63.2518 62.9552 62.3251 62.1507 61.5307 61.5191C60.7236 60.8745 59.0849 59.4208 57.8112 58.4411C56.525 57.4614 54.9108 56.2626 54.2172 55.7985C53.5237 55.3216 52.1618 54.4321 51.1908 53.8392C50.2198 53.2333 48.5426 52.2536 47.4707 51.6606C46.3862 51.0677 45.2008 50.4489 44.8225 50.2813C44.4316 50.1267 43.9272 49.9978 43.6876 49.9978C43.4354 49.9849 42.9814 50.1138 42.6787 50.2813C42.3004 50.4747 41.6168 50.496 40.9863 51.2694C40.4693 51.914 39.7253 52.7519 39.347 53.1386C38.9561 53.5124 38.3634 54.028 38.0229 54.26C37.6698 54.4921 37.0897 54.8014 36.724 54.9432C36.3583 55.085 35.6774 55.2397 35.2108 55.2913C34.7316 55.33 34.6559 55.3412 34.328 55.3412C34.0009 55.3215 33.4949 55.3881 33.2048 55.1947C32.9022 55.0013 32.7962 54.9455 32.6953 54.7135C32.5944 54.4815 32.5584 54.4395 32.5206 54.143C32.4701 53.8208 32.5502 53.8256 32.5502 53.5903C32.6511 53.1133 32.8907 52.4172 33.0798 52.0434C33.2564 51.6695 34.0537 50.5653 34.6086 49.7146C35.1508 48.8638 35.7406 48.0813 36.409 47.1789C35.5758 47.1789 35.1402 47.0342 34.8734 47.0008C34.3507 46.8561 34.1218 46.8573 33.466 46.6897C32.7977 46.5222 31.9954 46.1801 31.6297 45.9996C31.264 45.8063 30.7388 45.7539 30.4189 46.1781C30.2152 46.5195 28.9687 48.7563 27.2411 51.8887C25.5261 55.0211 23.9498 57.8957 23.7606 58.2696ZM24.9974 63.4258C24.72 63.8512 24.3118 64.5057 24.4706 65.0982C24.5719 65.476 24.8965 65.9639 24.9974 66.1572C25.0857 66.3506 25.4964 66.5823 25.6698 66.7596C25.9268 67.0223 26.3437 66.952 26.6806 66.952C27.0176 66.952 27.4388 66.952 27.6213 66.8587C27.7474 66.7943 28.3615 66.2102 28.7651 65.6559C29.1686 65.1016 29.7112 63.9031 29.7743 63.7226C30.028 63.1387 29.7793 62.6952 29.6532 62.3471C29.4204 61.9792 28.8679 61.5824 28.603 61.4278C28.376 61.286 27.6608 61.0679 27.4464 61.0679C27.1437 61.055 26.6986 61.2731 26.3834 61.6469C26.1564 61.9176 25.2622 63.0004 24.9974 63.4258ZM31.073 63.1602C30.3811 64.9744 28.8048 67.061 28.54 67.4477C28.1238 68.0922 28.1605 69.0898 28.2236 69.6054C28.274 70.0051 28.7777 70.8154 29.0299 71.0603C29.2191 71.2666 29.9153 71.6511 30.4441 71.6511C30.6963 71.7285 32.0618 71.1215 32.2887 70.9926C32.4527 70.8895 33.5986 69.8367 33.8382 69.5015C34.0778 69.1664 34.82 68.8012 35.7783 67.4477C36.0928 67.0036 36.5342 66.6477 36.5342 66.2352C36.5342 65.9645 36.598 64.7864 36.232 63.8595C36.0933 63.6533 36.1278 63.3162 35.3253 62.6131C35.1109 62.51 34.3025 61.9478 34.1477 61.8789C34.0436 61.8326 33.5969 61.673 33.1264 61.673C32.9411 61.7258 32.0062 61.8711 31.073 63.1602ZM36.5342 67.9633C36.0676 68.6079 35.2401 69.2653 34.4408 70.1678C33.7607 70.7477 32.7645 71.8047 32.7645 71.9336C32.7771 72.0625 32.6085 73.2665 33.2356 74.0773C33.5554 74.3867 33.7127 74.5504 33.927 74.6793C34.1288 74.8082 34.4693 74.9114 34.6837 74.9243C34.9359 74.9243 35.9255 74.8584 36.144 74.6178C36.3206 74.4245 38.0122 73.1067 38.7941 71.9981C39.5759 70.9024 40.1812 70.3244 40.2821 70.0924C40.4334 69.7185 40.3984 68.5593 40.1714 68.0308C40.0327 67.7214 39.0957 66.7774 38.9318 66.6871C38.7804 66.584 38.503 66.468 38.3391 66.4422C38.1625 66.4036 37.9229 66.4036 37.8094 66.4551C37.696 66.4938 37.0008 67.3317 36.5342 67.9633ZM39.7797 71.9981C39.5401 72.3204 38.0802 74.1508 37.7145 74.6793C37.545 74.9243 37.9938 76.1921 38.1168 76.4969C38.2625 76.8579 38.5179 77.347 38.7941 77.5153C39.1455 77.7294 39.2639 77.7989 39.6765 77.9549C40.1105 78.0085 40.5964 77.9549 40.8477 77.7989C41.1972 77.6456 41.7441 77.0641 41.9332 76.8579C42.1224 76.6645 42.5403 76.1565 43.0699 75.4088C43.5996 74.6741 44.0193 73.8841 44.0571 73.7423C44.2041 73.6269 43.9429 72.1707 43.6832 71.8692C43.5571 71.5856 42.4745 70.7355 42.2349 70.5808C41.9827 70.4133 41.6674 70.2844 41.5161 70.2844C41.3774 70.2844 41.1378 70.3875 40.9991 70.5164C40.8603 70.6453 40.0319 71.6887 39.7797 71.9981Z" fill="%23383D47"/><path d="M30.8152 43.5L21.0326 61L-2.44568 46V21.5L30.8152 43.5Z" fill="%23C71585"/><path d="M30.8152 43.5L21.0326 61L-2.44568 46V21.5L30.8152 43.5Z" fill="url(%23paint1_linear_256_438)" fill-opacity="0.3"/></g></g><defs><linearGradient id="paint0_linear_256_438" x1="69.6605" y1="49.8347" x2="76.7815" y2="62.2191" gradientUnits="userSpaceOnUse"><stop/><stop offset="1" stop-opacity="0"/></linearGradient><linearGradient id="paint1_linear_256_438" x1="21.5217" y1="49.5" x2="13.9565" y2="60.8478" gradientUnits="userSpaceOnUse"><stop/><stop offset="1" stop-opacity="0"/></linearGradient><clipPath id="clip0_256_438"><rect width="90" height="90" fill="white"/></clipPath><clipPath id="clip1_256_438"><rect width="117.927" height="59.0263" fill="white" transform="translate(-13.6957 19.907)"/></clipPath></defs></svg>');
}

.blogs {
  width: 90px;
  height: 90px;
  background-image: url('data:image/svg+xml,<svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M75.908 22.3714C75.908 20.4553 74.3345 18.8984 72.4172 18.8984H20.3735C18.4475 18.8984 16.8827 20.4638 16.8827 22.3714V30.857H75.908V22.3714ZM24.9132 26.7682C23.8643 26.7682 23.0131 25.9213 23.0131 24.8777C23.0131 23.8341 23.8729 22.9873 24.9132 22.9873C25.9622 22.9873 26.8134 23.8427 26.8134 24.8777C26.8134 25.9213 25.9622 26.7682 24.9132 26.7682ZM31.998 26.7682C30.949 26.7682 30.0978 25.9213 30.0978 24.8777C30.0978 23.8341 30.949 22.9873 31.998 22.9873C33.0469 22.9873 33.8981 23.8427 33.8981 24.8777C33.8981 25.9213 33.0383 26.7682 31.998 26.7682ZM39.0741 26.7682C38.0252 26.7682 37.174 25.9213 37.174 24.8777C37.174 23.8341 38.0338 22.9873 39.0741 22.9873C40.1231 22.9873 40.9743 23.8427 40.9743 24.8777C40.9743 25.9213 40.1231 26.7682 39.0741 26.7682ZM69.7776 26.2378H46.3394C45.5828 26.2378 44.9638 25.6219 44.9638 24.8692C44.9638 24.1164 45.5828 23.5091 46.3394 23.5091H69.7776C70.5342 23.5091 71.1533 24.125 71.1533 24.8692C71.1533 25.6305 70.5342 26.2378 69.7776 26.2378ZM18.4217 55.8948V54.415C18.4217 53.9274 18.6625 53.5082 19.0924 53.2602L20.8464 52.2508C21.2677 52.0027 21.517 51.5836 21.517 51.096C21.517 50.5999 21.2677 50.1893 20.8464 49.9412L19.0924 48.9318C18.6625 48.6837 18.4217 48.2646 18.4217 47.777V46.2971C18.4217 45.2707 17.5791 44.4324 16.5474 44.4324H3.83091C2.79915 44.4324 1.95654 45.2707 1.95654 46.2971V55.8863C1.95654 56.9128 2.79915 57.7511 3.83091 57.7511H16.5474C17.5791 57.7682 18.4217 56.9299 18.4217 55.8948ZM13.4177 54.971H6.96058C6.20396 54.971 5.5849 54.3551 5.5849 53.6023C5.5849 52.8496 6.20396 52.2422 6.96058 52.2422H13.4177C14.1743 52.2422 14.7848 52.8496 14.7848 53.6023C14.7934 54.3551 14.1743 54.971 13.4177 54.971ZM13.4177 49.9754H6.96058C6.20396 49.9754 5.5849 49.3681 5.5849 48.6153C5.5849 47.8625 6.20396 47.2552 6.96058 47.2552H13.4177C14.1743 47.2552 14.7848 47.8625 14.7848 48.6153C14.7848 49.3681 14.1743 49.9754 13.4177 49.9754Z" fill="%23E8CD0A"/><path d="M75.908 22.3714C75.908 20.4553 74.3345 18.8984 72.4172 18.8984H20.3735C18.4475 18.8984 16.8827 20.4638 16.8827 22.3714V30.857H75.908V22.3714ZM24.9132 26.7682C23.8643 26.7682 23.0131 25.9213 23.0131 24.8777C23.0131 23.8341 23.8729 22.9873 24.9132 22.9873C25.9622 22.9873 26.8134 23.8427 26.8134 24.8777C26.8134 25.9213 25.9622 26.7682 24.9132 26.7682ZM31.998 26.7682C30.949 26.7682 30.0978 25.9213 30.0978 24.8777C30.0978 23.8341 30.949 22.9873 31.998 22.9873C33.0469 22.9873 33.8981 23.8427 33.8981 24.8777C33.8981 25.9213 33.0383 26.7682 31.998 26.7682ZM39.0741 26.7682C38.0252 26.7682 37.174 25.9213 37.174 24.8777C37.174 23.8341 38.0338 22.9873 39.0741 22.9873C40.1231 22.9873 40.9743 23.8427 40.9743 24.8777C40.9743 25.9213 40.1231 26.7682 39.0741 26.7682ZM69.7776 26.2378H46.3394C45.5828 26.2378 44.9638 25.6219 44.9638 24.8692C44.9638 24.1164 45.5828 23.5091 46.3394 23.5091H69.7776C70.5342 23.5091 71.1533 24.125 71.1533 24.8692C71.1533 25.6305 70.5342 26.2378 69.7776 26.2378ZM18.4217 55.8948V54.415C18.4217 53.9274 18.6625 53.5082 19.0924 53.2602L20.8464 52.2508C21.2677 52.0027 21.517 51.5836 21.517 51.096C21.517 50.5999 21.2677 50.1893 20.8464 49.9412L19.0924 48.9318C18.6625 48.6837 18.4217 48.2646 18.4217 47.777V46.2971C18.4217 45.2707 17.5791 44.4324 16.5474 44.4324H3.83091C2.79915 44.4324 1.95654 45.2707 1.95654 46.2971V55.8863C1.95654 56.9128 2.79915 57.7511 3.83091 57.7511H16.5474C17.5791 57.7682 18.4217 56.9299 18.4217 55.8948ZM13.4177 54.971H6.96058C6.20396 54.971 5.5849 54.3551 5.5849 53.6023C5.5849 52.8496 6.20396 52.2422 6.96058 52.2422H13.4177C14.1743 52.2422 14.7848 52.8496 14.7848 53.6023C14.7934 54.3551 14.1743 54.971 13.4177 54.971ZM13.4177 49.9754H6.96058C6.20396 49.9754 5.5849 49.3681 5.5849 48.6153C5.5849 47.8625 6.20396 47.2552 6.96058 47.2552H13.4177C14.1743 47.2552 14.7848 47.8625 14.7848 48.6153C14.7848 49.3681 14.1743 49.9754 13.4177 49.9754Z" fill="url(%23paint0_linear_256_444)" fill-opacity="0.2"/><path d="M79.8888 41.4897L84.2652 45.8523L73.062 56.9897L73.0534 56.9811L68.6856 52.6357L68.677 52.6271L79.8888 41.4897ZM66.261 58.8203L67.2326 55.0479L70.646 58.4439L66.8542 59.4105C66.6823 59.4533 66.5189 59.4105 66.3899 59.2822C66.261 59.1539 66.2094 58.9913 66.261 58.8203ZM86.4491 43.671L86.2083 43.9105L81.832 39.5479L82.0727 39.3084C82.9067 38.4872 84.2566 38.4872 85.0906 39.3084L86.4577 40.6685C87.2831 41.4982 87.2831 42.8498 86.4491 43.671Z" fill="url(%23paint1_linear_256_444)"/><path d="M79.8888 41.4897L84.2652 45.8523L73.062 56.9897L73.0534 56.9811L68.6856 52.6357L68.677 52.6271L79.8888 41.4897ZM66.261 58.8203L67.2326 55.0479L70.646 58.4439L66.8542 59.4105C66.6823 59.4533 66.5189 59.4105 66.3899 59.2822C66.261 59.1539 66.2094 58.9913 66.261 58.8203ZM86.4491 43.671L86.2083 43.9105L81.832 39.5479L82.0727 39.3084C82.9067 38.4872 84.2566 38.4872 85.0906 39.3084L86.4577 40.6685C87.2831 41.4982 87.2831 42.8498 86.4491 43.671Z" fill="url(%23paint2_linear_256_444)" fill-opacity="0.2"/><path d="M72.2624 60.8477L67.5249 62.0538C66.4244 62.3361 65.2465 62.011 64.4468 61.2069C64.0685 60.8306 63.7934 60.3686 63.6386 59.8725C63.4495 60.4028 62.9422 60.7792 62.3403 60.7792H24.4575C23.7009 60.7792 23.0904 60.1719 23.0904 59.4191C23.0904 58.6664 23.7009 58.0505 24.4575 58.0505H62.3489C62.839 58.0505 63.2689 58.3071 63.5097 58.692C63.5269 58.5124 63.5527 58.3242 63.5956 58.1446L64.5672 54.3551C64.3179 54.6032 63.974 54.7572 63.5956 54.7572H24.4575C23.8729 54.7572 23.3742 54.3979 23.1764 53.8846C22.9013 54.1755 22.5832 54.4321 22.2221 54.6374L21.1645 55.2447V55.912C21.1645 58.3328 19.2729 60.3259 16.8827 60.4969V67.8962C16.8827 69.8038 18.4561 71.3692 20.3735 71.3692H72.4086C74.326 71.3692 75.8994 69.8038 75.8994 67.8962V58.0248L74.1454 59.7784C73.6209 60.3087 72.9847 60.6595 72.2624 60.8477ZM68.3245 66.827H24.4575C23.7009 66.827 23.0904 66.2111 23.0904 65.4583C23.0904 64.7055 23.7009 64.0982 24.4575 64.0982H68.3331C69.0898 64.0982 69.7088 64.7141 69.7088 65.4583C69.7002 66.2111 69.0898 66.827 68.3245 66.827ZM25.8246 38.1195H66.9575V46.2801H25.8246V38.1195ZM16.8827 41.7293V33.5944H75.908V41.5924L69.7002 47.7599C69.7002 47.7171 69.7088 47.6915 69.7088 47.6487V36.7508C69.7088 35.9981 69.0898 35.3822 68.3331 35.3822H24.4575C23.7009 35.3822 23.0904 35.9981 23.0904 36.7508V47.6402C23.0904 48.3929 23.7009 49.0003 24.4575 49.0003H68.3331C68.3761 49.0003 68.4535 49.0003 68.4535 48.9917L65.8827 51.5494C65.4528 51.9771 65.1347 52.4732 64.9283 53.0292C64.7736 52.4476 64.2405 52.0113 63.5956 52.0113H24.4575C24.3544 52.0113 24.2512 52.0284 24.1566 52.0455C24.234 51.7376 24.2684 51.4296 24.2684 51.1046C24.2684 49.6333 23.5032 48.3159 22.2221 47.5803L21.1645 46.9729V46.3057C21.1645 43.8849 19.2729 41.9004 16.8827 41.7293ZM68.4535 49.0003L69.7002 47.7599C69.3244 48.1338 68.9179 48.5382 68.4535 49.0003Z" fill="%23383D47"/><path d="M72.2624 60.8477L67.5249 62.0538C66.4244 62.3361 65.2465 62.011 64.4468 61.2069C64.0685 60.8306 63.7934 60.3686 63.6386 59.8725C63.4495 60.4028 62.9422 60.7792 62.3403 60.7792H24.4575C23.7009 60.7792 23.0904 60.1719 23.0904 59.4191C23.0904 58.6664 23.7009 58.0505 24.4575 58.0505H62.3489C62.839 58.0505 63.2689 58.3071 63.5097 58.692C63.5269 58.5124 63.5527 58.3242 63.5956 58.1446L64.5672 54.3551C64.3179 54.6032 63.974 54.7572 63.5956 54.7572H24.4575C23.8729 54.7572 23.3742 54.3979 23.1764 53.8846C22.9013 54.1755 22.5832 54.4321 22.2221 54.6374L21.1645 55.2447V55.912C21.1645 58.3328 19.2729 60.3259 16.8827 60.4969V67.8962C16.8827 69.8038 18.4561 71.3692 20.3735 71.3692H72.4086C74.326 71.3692 75.8994 69.8038 75.8994 67.8962V58.0248L74.1454 59.7784C73.6209 60.3087 72.9847 60.6595 72.2624 60.8477ZM68.3245 66.827H24.4575C23.7009 66.827 23.0904 66.2111 23.0904 65.4583C23.0904 64.7055 23.7009 64.0982 24.4575 64.0982H68.3331C69.0898 64.0982 69.7088 64.7141 69.7088 65.4583C69.7002 66.2111 69.0898 66.827 68.3245 66.827ZM25.8246 38.1195H66.9575V46.2801H25.8246V38.1195ZM16.8827 41.7293V33.5944H75.908V41.5924L69.7002 47.7599C69.7002 47.7171 69.7088 47.6915 69.7088 47.6487V36.7508C69.7088 35.9981 69.0898 35.3822 68.3331 35.3822H24.4575C23.7009 35.3822 23.0904 35.9981 23.0904 36.7508V47.6402C23.0904 48.3929 23.7009 49.0003 24.4575 49.0003H68.3331C68.3761 49.0003 68.4535 49.0003 68.4535 48.9917L65.8827 51.5494C65.4528 51.9771 65.1347 52.4732 64.9283 53.0292C64.7736 52.4476 64.2405 52.0113 63.5956 52.0113H24.4575C24.3544 52.0113 24.2512 52.0284 24.1566 52.0455C24.234 51.7376 24.2684 51.4296 24.2684 51.1046C24.2684 49.6333 23.5032 48.3159 22.2221 47.5803L21.1645 46.9729V46.3057C21.1645 43.8849 19.2729 41.9004 16.8827 41.7293ZM68.4535 49.0003L69.7002 47.7599C69.3244 48.1338 68.9179 48.5382 68.4535 49.0003Z" fill="url(%23paint3_linear_256_444)" fill-opacity="0.2"/><path d="M75.908 22.3714C75.908 20.4553 74.3345 18.8984 72.4172 18.8984H20.3735C18.4475 18.8984 16.8827 20.4638 16.8827 22.3714V30.857H75.908V22.3714ZM24.9132 26.7682C23.8643 26.7682 23.0131 25.9213 23.0131 24.8777C23.0131 23.8341 23.8729 22.9873 24.9132 22.9873C25.9622 22.9873 26.8134 23.8427 26.8134 24.8777C26.8134 25.9213 25.9622 26.7682 24.9132 26.7682ZM31.998 26.7682C30.949 26.7682 30.0978 25.9213 30.0978 24.8777C30.0978 23.8341 30.949 22.9873 31.998 22.9873C33.0469 22.9873 33.8981 23.8427 33.8981 24.8777C33.8981 25.9213 33.0383 26.7682 31.998 26.7682ZM39.0741 26.7682C38.0252 26.7682 37.174 25.9213 37.174 24.8777C37.174 23.8341 38.0338 22.9873 39.0741 22.9873C40.1231 22.9873 40.9743 23.8427 40.9743 24.8777C40.9743 25.9213 40.1231 26.7682 39.0741 26.7682ZM69.7776 26.2378H46.3394C45.5828 26.2378 44.9638 25.6219 44.9638 24.8692C44.9638 24.1164 45.5828 23.5091 46.3394 23.5091H69.7776C70.5342 23.5091 71.1533 24.125 71.1533 24.8692C71.1533 25.6305 70.5342 26.2378 69.7776 26.2378Z" fill="%23C71585"/><path d="M75.908 22.3714C75.908 20.4553 74.3345 18.8984 72.4172 18.8984H20.3735C18.4475 18.8984 16.8827 20.4638 16.8827 22.3714V30.857H75.908V22.3714ZM24.9132 26.7682C23.8643 26.7682 23.0131 25.9213 23.0131 24.8777C23.0131 23.8341 23.8729 22.9873 24.9132 22.9873C25.9622 22.9873 26.8134 23.8427 26.8134 24.8777C26.8134 25.9213 25.9622 26.7682 24.9132 26.7682ZM31.998 26.7682C30.949 26.7682 30.0978 25.9213 30.0978 24.8777C30.0978 23.8341 30.949 22.9873 31.998 22.9873C33.0469 22.9873 33.8981 23.8427 33.8981 24.8777C33.8981 25.9213 33.0383 26.7682 31.998 26.7682ZM39.0741 26.7682C38.0252 26.7682 37.174 25.9213 37.174 24.8777C37.174 23.8341 38.0338 22.9873 39.0741 22.9873C40.1231 22.9873 40.9743 23.8427 40.9743 24.8777C40.9743 25.9213 40.1231 26.7682 39.0741 26.7682ZM69.7776 26.2378H46.3394C45.5828 26.2378 44.9638 25.6219 44.9638 24.8692C44.9638 24.1164 45.5828 23.5091 46.3394 23.5091H69.7776C70.5342 23.5091 71.1533 24.125 71.1533 24.8692C71.1533 25.6305 70.5342 26.2378 69.7776 26.2378Z" fill="url(%23paint4_linear_256_444)" fill-opacity="0.2"/><defs><linearGradient id="paint0_linear_256_444" x1="17.9886" y1="43.9164" x2="1.95654" y2="57.7513" gradientUnits="userSpaceOnUse"><stop/><stop offset="1" stop-opacity="0"/></linearGradient><linearGradient id="paint1_linear_256_444" x1="76.6584" y1="38.6925" x2="76.6584" y2="59.4265" gradientUnits="userSpaceOnUse"><stop stop-color="%23DB5938"/><stop offset="1" stop-color="%23B03A1C"/></linearGradient><linearGradient id="paint2_linear_256_444" x1="79.2498" y1="57.8503" x2="67.2292" y2="44.8893" gradientUnits="userSpaceOnUse"><stop/><stop offset="1" stop-opacity="0"/></linearGradient><linearGradient id="paint3_linear_256_444" x1="74.6536" y1="70.3143" x2="16.8827" y2="33.5944" gradientUnits="userSpaceOnUse"><stop stop-color="white"/><stop offset="1" stop-color="white" stop-opacity="0"/></linearGradient><linearGradient id="paint4_linear_256_444" x1="43.6374" y1="32.553" x2="46.3953" y2="16.6442" gradientUnits="userSpaceOnUse"><stop/><stop offset="1" stop-opacity="0"/></linearGradient></defs></svg>');
}
*/
